/.*                    export-ignore
/__mocks__             export-ignore
/bin                   export-ignore
/build                 export-ignore
/changelog             export-ignore
/client                export-ignore
/node_modules          export-ignore
/tests                 export-ignore
*.coffee               export-ignore
*.config.js            export-ignore
*.config.ts            export-ignore
*.lock                 export-ignore
*.log                  export-ignore
*.map                  export-ignore
*.md                   export-ignore
*.scss                 export-ignore
*.zip                  export-ignore
aviary.custom.php      export-ignore
CODEOWNERS             export-ignore
composer-scoped.json   export-ignore
composer.*             export-ignore
global.php.css         export-ignore
Gruntfile.js           export-ignore
lefthook.yml           export-ignore
owl.json               export-ignore
package-lock.json      export-ignore
package.json           export-ignore
phpcs.*                export-ignore
phpstan-baseline.neon  export-ignore
phpstan.*              export-ignore
phpunit.*              export-ignore
pnpm-lock.yaml         export-ignore
qit-env.json           export-ignore
README.md              export-ignore
tailwind.config.php.ts export-ignore
tsconfig.json          export-ignore
vitest.config.mts      export-ignore
webpack.config.js      export-ignore
wp-cli.wp-env.yml      export-ignore
