@charset "UTF-8";
@font-face {
  font-family: 'WooCommerce';
  src: url("../../../woocommerce/assets/fonts/WooCommerce.eot");
  src: url("../../../woocommerce/assets/fonts/WooCommerce.eot?#iefix") format("embedded-opentype"), url("../../../woocommerce/assets/fonts/WooCommerce.woff") format("woff"), url("../../../woocommerce/assets/fonts/WooCommerce.ttf") format("truetype"), url("../../../woocommerce/assets/fonts/WooCommerce.svg#WooCommerce") format("svg");
  font-weight: normal;
  font-style: normal; }

/**
 * Deprecated
 * Fallback for bourbon equivalent
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include transform(scale(1.5));`
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include box-sizing(border-box);`
 */
/**
 * Objects
 */
.wc-add-to-cart-icon .single_add_to_cart_button, .wc-add-to-cart-icon .add_to_cart_button.text_replaceable {
  box-sizing: border-box;
  position: relative; }
  .wc-add-to-cart-icon .single_add_to_cart_button:before, .wc-add-to-cart-icon .add_to_cart_button.text_replaceable:before {
    font-family: 'WooCommerce';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 0.618em;
    content: "ÓÄù";
    text-decoration: none;
    font-weight: inherit;
    height: 1em;
    position: relative;
    top: 1px;
    display: inline-block; }

.wc-add-to-cart-icon.wc-add-to-cart-no-text .single_add_to_cart_button, .wc-add-to-cart-icon.wc-add-to-cart-no-text .add_to_cart_button.text_replaceable {
  min-width: 1em;
  width: 4em;
  text-indent: -9999px; }
  .wc-add-to-cart-icon.wc-add-to-cart-no-text .single_add_to_cart_button:before, .wc-add-to-cart-icon.wc-add-to-cart-no-text .add_to_cart_button.text_replaceable:before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-indent: 0;
    margin-right: 0;
    margin-top: -0.5em; }

.wc-add-to-cart-icon.wc-add-to-cart-no-text .wc-product-table .single_add_to_cart_button.added {
  width: 6em; }
  .wc-add-to-cart-icon.wc-add-to-cart-no-text .wc-product-table .single_add_to_cart_button.added:before {
    left: -1.1em; }
  .wc-add-to-cart-icon.wc-add-to-cart-no-text .wc-product-table .single_add_to_cart_button.added:after {
    position: absolute;
    text-indent: 0;
    right: 1.2em;
    top: 50%;
    margin-top: -0.5em; }
    
/* Theme Integration */
.theme-enfold .add_to_cart_button span, .theme-enfold .single_add_to_cart_button span {
  display: none !important;
}